// ===== БАЗОВЫЕ СТИЛИ =====

@font-face {
    font-family: 'Neue Machina';
    src: url('/assets/fonts/NeueMachina-InktrapUltrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: $font-primary;
    margin: 0;
}

h3 {
    font-family: $font-title;
    font-weight: 800;
    font-size: 72px;
    line-height: 1;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

section {
    scroll-margin-top: 100px;
}

#super-quiz,
#quiz-step-2,
#quiz-step-3 {
    scroll-margin-top: 80px;
}