// ===== MEDIA QUERIES - MOBILE FIRST =====

@media (max-width: $tablet) {
    // Header
    .page-header__nav-list {
        margin-left: 0;
        gap: 0.5em;
    }

    .page-header .social {
        position: static;
        margin-left: auto;
    }

    .social__link-button {
        padding: 8px 12px;
        font-size: 14px;
    }

    // Hero
    .hero__title {
        font-size: 42px;
    }

    .hero__subtitle {
        font-size: 16px;
    }

    // Quiz
    .quiz__title {
        font-size: 36px;
    }

    .quiz__description {
        font-size: 16px;
    }

    .poll {
        grid-template-columns: repeat(2, 1fr);
    }

    // Footer
    .page-footer {
        flex-direction: column;
        gap: 30px;

        &__contacts {
            gap: 30px;
        }

        &__contact-value {
            font-size: 32px;
        }
    }
}

@media (max-width: $mobile) {
    .poll {
        grid-template-columns: 1fr;
    }

    .page-header__nav-list {
        display: none; // Скрываем навигацию, нужно добавить бургер-меню
    }

    .hero__title {
        font-size: 32px;
    }

    .modal {
        &__form {
            grid-template-columns: 1fr;
        }

        &__input--comment {
            padding-right: 0;
        }

        &__input-wrapper input {
            padding-right: 0;
        }

        &__attach-btn {
            position: static;
            margin-top: 10px;
            width: 100%;
            justify-content: center;
        }

        &__title {
            font-size: 42px;
            padding-right: 35px;
        }

        &__content {
            padding: 20px;
        }

        &__close {
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;

            &::before {
                font-size: 25px;
            }
        }
    }
}