// ===== QUIZ =====

.quiz {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px 20px;
    background: $color-white;
    flex-direction: column;
    position: relative;

    &__step {
        display: none;
        width: 100%;
        max-width: 720px;
        margin: 0 auto;

        &--active {
            display: block;
        }
    }

    &__title {
        font-family: $font-title;
        font-weight: 800;
        font-size: 72px;
        margin-bottom: $spacing-lg;
    }

    &__description {
        font-family: $font-primary;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: $spacing-xxl;
        color: $color-dark-gray;
    }

    &__button {
        color: $color-white;
        font-size: 1rem;
        padding: 10px 20px;
        background-color: $color-black;
        border-radius: $border-radius;
        text-decoration: none;
        display: inline-block;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $color-purple;
            transition: $transition-speed ease;
        }

        &--back {
            background: transparent;
            color: $color-black;

            &:hover {
                background-color: $color-purple;
                color: $color-white;
            }
        }

        &--submit {
            background-color: $color-black;
        }
    }

    &__navigation {
        display: flex;
        gap: 20px;
        margin-top: $spacing-xxl;
    }

    &__image {
        width: 128px;
        height: 128px;
    }

    &__form {
        width: 100%;
        margin-bottom: 20px;
    }

    &__form-label {
        display: block;
        width: 100%;
    }

    &__textarea {
        width: 100%;
        padding: 5px 0;
        font-size: 14px;
        border: none;
        border-bottom: 1px solid $color-black;
        background: transparent;
        resize: none;
        outline: none;

        &::placeholder {
            color: $color-placeholder;
            font-style: italic;
        }
    }
}